html {
  background-color: rgba(255, 255, 255, 0.25);
}

#titleStatement {
  font-family: "Chrome Droid Sans";
  font-size: 25px;
  position: inherit;
  top: 0px;
  color: rgba(205, 0, 0, 0.9);
}

#appcontent {
  position: absolute;
  left: 0px;
  top: 50px;
}

.powertoggle {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  height: 50px;
  border: 0px;
  font-size: 150%;
}

#power1 {
  top: 50px;
}

#power2 {
  top: 101px;
}

#powerEnd {
  border: 0px;
  position: absolute;
  font-family: "Chrome Droid Sans";
  font-size: 150%;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.6);
}

#windowbar {
  -webkit-app-region: drag;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0px;
  left: 153px;
  height: 50px;
}

.wincontrols {
  -webkit-app-region: no-drag;
  border: 0px;
  font-size: 45px;
  position: fixed;
  top: 0px;
  width: 50px;
  height: 50px;
}

#minimize {
  background-color: rgba(255, 255, 0, 0.6);
  left: 51px;
}

#maximize {
  background-color: rgba(0, 255, 0, 0.6);
  left: 102px;
}

#close {
  background-color: rgba(255, 0, 0, 0.6);
  left: 0px;
}