html {
  background-color: rgb(50, 50, 50);
}

#titleStatement {
  -webkit-app-region: drag;
  font-family: "Chrome Droid Sans";
  font-size: 40px;
  position: fixed;
  top: 0px;
  left: 51px;
  height: 50px;
  color: rgba(205, 0, 0, 0.9);
}

#appcontent {
  position: absolute;
  left: 0px;
  top: 50px;
}

.powertoggle {
  border: 0px;
  position: absolute;
  font-family: "Chrome Droid Sans";
  background-color: rgba(100, 100, 255, 0.2);
  height: 50px;
  font-size: 150%;
}

#power1 {
  box-shadow: 0px -5px 2.5px rgba(100, 100, 255, 0.2);
  top: 50px;
}

#power2 {
  box-shadow: 0px 5px 2.5px rgba(100, 100, 255, 0.2);
  top: 101px;
}

#powerEnd {
  box-shadow: 0px -5px 2.5px rgba(100, 100, 255, 0.2);
  font-family: "Chrome Droid Sans";
  position: fixed;
  border: 0px;
  background-color: #ff0000;
  height: 50px;
  font-size: 150%;
}

#windowbar {
  box-shadow: 0px 5px 2.5px rgba(100, 100, 255, 0.2);
  background-color: #0099cc;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 50px;
}

#windowmenu {
  border: 0px;
  background-color: #0099cc;
  position: fixed;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
}

#wincontrols {
  box-shadow: 1px 5px 2.5px rgba(100, 100, 255, 0.2);
  background-color: rgba(50, 50, 50, 0.999);
  color: #ffffff;
  position: fixed;
  left: 0px;
  top: 51px;
  width: 125px;
}

.winmenuitems {
  background-color: rgba(50, 50, 50, 0.999);
  color: #ffffff;
  border: 0px;
  width: 125px;
  height: 75px;
  font-family: "Chrome Droid Sans";
  font-size: 22px;
}

#minimize {
  top: 0px;
}

#maximize {
  top: 76px;
}

#close {
  top: 152px;
}

#bugreport {
  background-color: rgba(0, 153, 204, 0.2);
  border: 0px;
  font-size: 45px;
  position: fixed;
  top: 0px;
  width: 50px;
  height: 50px;
}

paper-ripple {
  color: rgba(255, 255, 255, 0.7);
}
